*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	font-size: 14px;
	font-family: "宋体";
	background-color: #FDFDFD;
}
ul,li{
	list-style-type: none;
}
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
footer{
	clear: both;
	width: 100%;
	color: #A0A0A0;
	text-align: center;
	margin-bottom: 10px;
}
/* footer span{
	font-size: 14px;
} */
footer a{
	font-size: 8px;
}
header{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 20;
}
header>.container{
	margin-top: 10px;
}
header>.container>.navbar{
	border: 6px #363636 solid;
}
#toTop>a{
	display: block;
	width: 54px;
	height: 56px;
	font-size: 19px;
	font-weight: 560;
	color: #000000;
	z-index: 1;
	position: fixed;
	right: 4%;
	bottom: 10%;
	padding-top: 12px;
	padding-left: 5px;
	border: 3px #BCBCBC solid;
	border-radius: 8px;
	background-color: #FFFFFF;
	opacity: 0.5;
}
#toTop>a:hover{
	color: #FFFFFF;
	background-color: #1E80FF;
	border: 3px #1E80FF solid;
	opacity: 0.9;
}
#mainCarousel{
	margin-bottom: 50px;
}
.carousel-caption{
	padding-top: 10px;
}
#mainContent{
	margin-bottom: 60px;
}
#mainContent>.row>h1{
	text-align: center;
	padding-bottom: 20px;
	margin: 30px 10px 30px 10px;
	border-bottom: 1px solid #CDCDCD;
	color: #337AB7;
}
#mainContent>.row>h1>b{
	padding: 10px 20px;
	border: 1px #CDCDCD solid;
}
#mainContent a{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
#mainContent .thumbnail>img{
	padding: 4px;
	border-radius: 10px;
}
#mainContent a:hover>img{
	border: 5px #FFFFFF solid;
}
#mainContent a:hover>.caption>h3{
	font-weight:bold
}